protobuf==3.20.*
numpy==1.23.*
torch==1.11.0
torchvision
tensorboardX==2.0
scikit_image
matplotlib==2.2.3
tqdm==4.43.0
easydict==1.9
Pillow==7.1.2
opencv_python_headless
pycocotools
tensorboard
wandb
